@use "resets.css";
@use "globals.css";
$base-font-size: 20px;
$base-font-stack: "Rubik", sans-serif;
$base-spacing-unit: 0.25rem;

* {
  font-family: "Rubik", sans-serif;
  flex-shrink: 1;
}
:root {
  font-size: $base-font-size;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.4rem;
}
input {
  padding: 0.25em;
}
body > div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
main {
}
* {
  font-family: "Rubik", sans-serif;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  font-size: 20px;

  --color-background: black;
  --color-text-dark: black;
  --color-textbox-background: #2d2d2d;
  --color-text: white;
  --color-cute-accent: hsl(269, 100%, 67%);
  --color-cute-accent-b: hsl(160, 100%, 67%);
  --color-focus-ring: hsl(160, 100%, 67%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--color-text);
}
button.btn-standard {
  padding: 0.25rem;
  border: 2px solid var(--color-cute-accent);
  --color-text: var(--color-cute-accent);
  background-color: transparent;
  flex-grow: 0;
  flex-shrink: 0;
  &:hover,
  &:focus {
    background-color: var(--color-cute-accent);
    --color-text: initial;
  }
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--color-background);
}

a {
  color: inherit;
  text-decoration: none;
}

.eq-container {
  position: relative;
  background-color: var(--color-background);
  border: 2px solid white;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 1;
  flex-grow: 1;
  button {
    --color-text: initial;
  }
}
.eq-container.centered {
  justify-content: center;
}
.section-handle {
  /* width: 1.5rem; */
  flex-shrink: 0;
  border-radius: 0.25rem 0 0 0.25rem;
  background-color: var(--color-cute-accent);
  // --color-text: initial;
  border: 1px solid white;
  border-right: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // overflow: hidden;
  button {
    background-color: transparent;
    padding: 0.25rem;
    font-size: 0.75rem;
    border: 1px solid var(--color-text);
  }
}

.eq-draghandle {
  flex-grow: 1;
}

.qs-section-wrapper {
  display: flex;
  /* background-color: black; */
  /* padding-top: 0.5rem; */
  gap: 0rem;
}
.qs-section-wrapper-dim {
  opacity: 0;
  transition: opacity 0.5s;
}
.qs-section-wrapper-active {
  outline: 3px solid var(--color-focus-ring);
  z-index: 10;
}
.delete-section {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  padding: 0.5rem;
  display: block;
  border: 2px solid white;
  background: black;

  &:hover,
  &:focus {
    background-color: red;
    border-color: red;
  }
}

.sort-list-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.eq-main {
  padding: 0.5rem;
  display: flex;
  // flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.es-edit {
  display: flex;
  flex-direction: column;
  flex-basis: 30rem;
  gap: 1rem;
  flex-shrink: 1;
  flex-grow: 1;
}
.es-preview {
  display: flex;
  flex-direction: column;

  flex-basis: 20rem;
  flex-shrink: 5;
  gap: 0.5rem;
  justify-content: flex-end;
  border: 2px solid var(--color-cute-accent-b);
  > h2 {
    background-color: var(--color-cute-accent-b);
    color: var(--color-background);
    align-self: flex-start;
    padding: 0.25rem 0.5rem;
  }
}
.es-preview-question {
  padding: 0.5rem 1rem 1rem 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.text-input {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  gap: 0.5rem;
  height: 3.5rem;
}

.scale-editor {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  gap: 0.5rem;
  > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .dropdown-labeled {
      align-items: flex-start;
    }
  }
}
.text-input input,
.text-input h2 {
  padding-inline-start: 0;
  padding-inline-end: 0;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1.5rem;

  padding: 0.5rem;
  border-width: 0px;
  /* font-family: sans-serif; */
  font-weight: normal;
  background-color: var(--color-textbox-background);
}

.text-input button {
  // font-size: 1.5rem;
  padding: 0.25rem;
}

.text-input-labeled {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  label {
    font-size: 1rem;
  }
  input {
    font-size: 1.5rem;
    background-color: var(--color-textbox-background);
    color: var(--color-text);
    border: none;
  }
}
.dropdown-labeled {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  label {
    font-size: 1rem;
  }
  select {
    font-size: 1.5rem;
    min-width: 4rem;
    background-color: var(--color-textbox-background);
    border: none;
  }
}
.basic-reorder-controls {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  background-color: var(--color-cute-accent);
  button {
    padding: 0.5rem;
    border: 1px solid white;
    border-right: none;
    background: none;
    border-radius: 0.25rem 0 0 0.25rem;
  }
}
.radio-toggle-group {
  align-self: flex-start;
}
.radio-toggle-group-controls {
  display: flex;
  position: relative;
  align-items: stretch;
  > div {
    display: flex;
  }
}

.radio-toggle-group-controls input {
  display: inline-block;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
.radio-toggle-group-controls label {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;

  padding: 0.5rem 0.75rem;
  border: 1px solid var(--color-text);
}

.radio-toggle-group-controls .selected,
.radio-toggle-group-controls .selected * {
  background-color: var(--color-text);
  color: var(--color-text-dark);
}
.radio-toggle-group-controls:focus-within {
  outline: 5px solid var(--color-focus-ring);
  z-index: 100;
}

*:focus {
  outline: 5px solid var(--color-focus-ring);
  z-index: 100;
}
.scale-wrapper {
  display: flex;
  gap: 0.25rem;
}
.scale-radio {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: 0.5rem;
}
textarea {
  width: 100%;
  background-color: var(--color-textbox-background);
}

.add-new-section {
  display: flex;
  gap: 0.5rem;
  button {
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--color-background);
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}
.eq-final {
  align-self: center;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  flex-direction: column;
  align-items: center;
}

.app-wrapper {
  max-width: 50rem;
  padding: 0.5rem;
}

@media (max-width: 600px) {
  :root {
    font-size: 14px;
  }
  .text-input .btn-standard {
    display: none;
  }
  .qs-section-wrapper {
    flex-direction: column;
  }
  .section-handle {
    flex-direction: row;
  }
}

.eq-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}
